div {
  margin: 0 auto;
}

body {
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  border-radius: 30px;
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 55%;
  height: 400px;
  overflow: hidden;
}

.card-img {
  background-image: url("img/polonia.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  width: 30%;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  padding: 16px;
  flex: 3;
}

.card-text h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.card-text p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 1.5;
}

.card-text a {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-decoration: none;
  background: #ccc;
  color: #333;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-text a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.social-links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 16px;
}

.social-link {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.social-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.social-link.steam {
  background: linear-gradient(to bottom, #1b2838, #171a21);
  border: 1.9px solid #000000;
}

.social-link.soundcloud {
  background: linear-gradient(to bottom, #ff8800, #ff3300);
  border: 1.9px solid #991f00;
}

.social-link.instagram {
  background: linear-gradient(to bottom, #fd1d1d, #833ab4);
  border: 1.9px solid #660066;
}

.social-link.github {
  background: linear-gradient(to bottom, #24292e, #00001a);
  border: 1.9px solid #000000;
}

.wide-rectangle {
  margin-top: 10px;
  border-radius: 30px;
  max-width: 1200px;
  height: 340px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pcspec {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 20px;
  font-size: 34px;
  font-weight: bold;
}

/* CSS for the scrollable row of cards */
.card-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: visible;
  padding: 20px;
  width: 100%;
  bottom: 0;
  overflow-x: auto;
  box-sizing: border-box;
  margin-top: auto;
}

.projcard {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 30px;
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  padding: 10px;
  text-shadow: 2px 2px 8px #000000a6;
  box-shadow: 0px 0px 5px 0px #ddd;
  box-sizing: border-box;
  padding-top: 30px;
  text-align: center;
}

.projcard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 20px;
  font-size: 34px;
  font-weight: bold;
}

.button {
  top: 7px;
  right: 20px;
  padding: 10px 20px;
  position: absolute;
  margin-top: 16px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-decoration: none;
  background: #ccc;
  color: #333;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.secondrow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 55%;
}

.spec {
  padding-left: 30px;
  border-radius: 30px;

  align-items: stretch;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 0 1%;
  flex-basis: 1%;
  height: 424px;
  overflow: hidden;
}

.bloge {
  color: white;
  background-image: url("https://rumahlia.com/wp-content/uploads/2020/06/Pisang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30px;
  border-radius: 30px;
  align-items: stretch;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 0 30%;
  flex-basis: 30%;
  margin-right: 10px;
  overflow: hidden;
}

.subheader {
  position: relative;
  margin-top: 30%;
  margin-left: 0%;
  font-size: 30px;
  display: flex;
}

.specbut {
  position: absolute;
  margin-top: -92px;
  margin-left: 180px;
}

.thirdrow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 55%;
}

#navbar {
  overflow: hidden;
  background-image: url(img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #86004a;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
}

#navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  height: 25px;
  width: 25px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 50px;
  transition: 0.2s;
}

#navbar #logo {
  font-size: 55px;
  font-weight: bold;
  padding-left: 50px;
  transition: 0.2s;
}

#navbar a:hover {
  color: black;
  transform: scale(1.2);
}

#navbar a.active {
  background-color: rgba(0, 0, 0, 0.201);
  color: white;
}

#navbar-right {
  float: right;
  padding-right: 50px;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.wind7 {
  background-image: url("img/wind7.png");
  background-repeat: no-repeat;
  background-color: #032a63;
  background-size: cover;
}

.sandroid {
  background-image: url("img/sandroid.png");
  background-repeat: no-repeat;
  background-color: #e28743;
  background-size: cover;
}

.hbmp {
  background-image: url("img/hbmp.png");
  background-repeat: no-repeat;
  background-color: #2fa7ca;
  background-size: cover;
}

.aus {
  background-image: url("img/aus.png");
  background-repeat: no-repeat;
  background-color: #e43e8c;
  background-size: cover;
}

.consui {
  background-image: url("img/consui.png");
  background-repeat: no-repeat;
  background-color: #00055c;
  background-size: cover;
}

.csweb {
  background-image: url("img/csweb.png");
  background-repeat: no-repeat;
  background-color: #00055c;
  background-size: cover;
}
