div {
  margin: 0 auto;
}

body {
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  overflow: hidden;
  background-image: url(img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #86004a;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
}

#navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  height: 25px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 30px;
  transition: 0.2s;
}

#navbar #logo {
  font-size: 55px;
  font-weight: bold;
  padding-left: 50px;
  transition: 0.2s;
}

#navbar a:hover {
  color: black;
  transform: scale(1.1);
}

#navbar a.active {
  background-color: rgba(0, 0, 0, 0.201);
  color: white;
}

#navbar-right {
  float: right;
  padding-right: 50px;
}

.squarecontainer {
  margin: 0 auto;
  text-align: center;
  width: 58%;
}

.pfp {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 300px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.bio {
  border-radius: 30px;
  width: 50%;
  vertical-align: top;
  text-align: left;
  height: 800px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

h1 {
  padding-left: 25px;
  padding-right: 25px;
}

p {
  padding-left: 25px;
  padding-right: 25px;
}
h3 {
  padding-left: 305px;
  font-size: 22px;
  padding-right: 25px;
}

.social {
  vertical-align: top;
  width: 19%;
  height: 660px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-right: 5px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

.social-link {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 70px;
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ascii-art {
  border-radius: 15px;
  margin: 20px;
  height: 150px;
  background-color: black;
  color: white;
  font-family: monospace;
  white-space: pre;
  padding: 10px;
}

.social-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.social-link.steam {
  background: linear-gradient(to bottom, #1b2838, #171a21);
  border: 1.9px solid #000000;
}

.social-link.soundcloud {
  background: linear-gradient(to bottom, #ff8800, #ff3300);
  border: 1.9px solid #991f00;
}

.social-link.instagram {
  background: linear-gradient(to bottom, #fd1d1d, #833ab4);
  border: 1.9px solid #660066;
}

.social-link.github {
  background: linear-gradient(to bottom, #24292e, #00001a);
  border: 1.9px solid #000000;
}

.social-link.twitter {
  background: linear-gradient(to bottom, #0c8dff, #0067b8);
  border: 1.9px solid #00407f;
}

.social-link.youtube {
  background: linear-gradient(to bottom, #ff0000, #c00000);
  border: 1.9px solid #640000;
}

.social-link.osu {
  background: linear-gradient(to bottom, #ff66aa, #b13264);
  border: 1.9px solid #772244;
}
